
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
*,
::after,
::before {
  box-sizing: border-box;
}
/* body {
  font-size: 1.6rem;
  line-height: 2.7rem;
  font-family: 'Roboto', sans-serif;
} */
body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  
}

a{
  display:inline-flex;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
ul{
  list-style: none;
}
button{
  border: 0;
  outline: 0;
}
img{
  width: 100%;
  height: 100%;
}
span[icon-data]{
  display: flex;
  margin-top: -1px;
}
span[icon-data] svg{
  width: 1.6rem;

}
.dgm-icon{
  padding: 0rem 0.4rem;
}
p{
  line-height: 2.2rem;
}
input,select{
  outline: none;
}



/* Para dispositivos iOS */
select::-ms-expand {
    display: none;
}

select::-webkit-inner-spin-button,
select::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/* Quitar estilos predeterminados para inputs de texto, date, y otros */
input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"],
textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
}

/* Quitar estilos predeterminados para inputs de nÃƒÂºmero */
input[type="number"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.tree-wrapper::-webkit-scrollbar {
    border: none;
    width: 6px;
    height: 8px;
    cursor: pointer;
}

.tree-wrapper::-webkit-scrollbar-thumb {
    background: #EAEEFB;
    background-color: #9f9f9f;
    border-radius: 24px;
}
   :root{
        --bg-primary:#101828;
        --bg-secondary:#172130;
        --bg-warning:#f0b100;
        --bg-accent-warning:#f0b1001a;
        
        --border-primary:#ffffff1a;
        --border-secondary:#615fff;
        --bg-accent-primary:#615fff;
        --text-primary:#99a1af;
        --text-secundary:#7c86ff;
        --bg-purple-secundary:#615fff33;
        --border-purple-secundary:#615fff;
        --text-accent:#ffffff;
        --bg-default:#99a1af;
        --transition: all 0.3s ease;

        --radius: 0.4rem;
    }
    .clr-primary{
        color: var(--text-primary);
    }
    body{
        background-color: var(--bg-primary);
    }
    .container{
        max-width: 1200px;
        margin: 0 auto;
    }
    /* Estado ON */
    .toggle-input:checked + .toggle-switch {
      background:#615fff;
      border: 1px solid #706fff;
    }

    .toggle-input:checked + .toggle-switch .toggle-circle {
      transform: translateX(20px);
    }

    .toggle-input:checked + .toggle-switch .toggle-icon {
      color: white;
    }

    .toggle-input:checked + .toggle-switch .svu.swk {
      opacity: 0;
      transform: scale(1);
    }

    .toggle-input:checked + .toggle-switch .svu.swl {
      color: #615fff;
      opacity: 1;
      transform: scale(1);
    }

    .select-wrapper select {
        background-color: #ffffff0d;
        border: 1px solid #ffffff1a;
        color: #ffffff;
        border-radius: 0.4rem;
        height: 3.6rem;
        padding: 0 1.6rem;
        padding-right:4rem;
        transition: var(--transition);
    }
  .select-wrapper select option {
    background-color:#1e2939; /* fondo de cada opción */
    color: #ffffff; /* color del texto de cada opción */
}
  .select-wrapper select:focus {
    box-shadow: 0 0 0 2px #615fff;
}
.input-wrapper input{
    background-color: #ffffff0d;
    border: 1px solid #ffffff1a;
    color: var(--text-primary);
    border-radius: 0.4rem;
    height: 3.6rem;
    padding: 0 1.6rem;
    transition: var(--transition);
} 

.input-wrapper input:hover{
    box-shadow: 0 0 0 2px #615fff;
}
.input-wrapper input::placeholder{
    color: var(--text-primary);
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(63%) sepia(7%) saturate(300%) hue-rotate(185deg) brightness(92%) contrast(95%);
    cursor: pointer;
}


select {
  -webkit-appearance: none; /* Chrome, Safari */
  -moz-appearance: none;    /* Firefox */
  appearance: none;         /* estándar */
  background: url('../../chevron-down.svg') no-repeat right 1rem center;
  background-size: 2rem;
  width: 32.2rem;
}

.toggle {
	cursor: pointer;
	display: inline-block;
}
.toggle-switch {
	display: inline-block;
	    background: #1c2433;
	border-radius: 16px;
	width: 44px;
	height: 24px;
	position: relative;
	vertical-align: middle;
	transition: background 0.25s;
  box-shadow: inset 0 0 0 1px #ffffff1a, 0 4px 6px rgba(0,0,0,0.1);
  border:0;
	&:before,
	&:after {
		content: "";
	}
&:before {
	display: block;
	background-color: #EAEEFB;
	border-radius: 50%;
	box-shadow: 0 0 0 1px #1018280d, 0 4px 6px rgba(0, 0, 0, 0.1);
	width: 20px;
	height: 20px;
	position: absolute;
	top: 2px;
	left: 2px;
	transition: left 0.25s, background-image 0.25s;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 12px;
	content: "";

	/* SVG OFF (la X) */
background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M4 8l2-2m0 0l2-2M6 6L4 4m2 2l2 2' stroke='%234a5565' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
}

	.toggle-checkbox:checked + & {
		background: #615fff;
		&:before {
			left: 22px;
background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 12 12' fill='%23615fff' xmlns='http://www.w3.org/2000/svg'><path d='M3.707 5.293a1 1 0 00-1.414 1.414l1.414-1.414zM5 8l-.707.707a1 1 0 001.414 0L5 8zm4.707-3.293a1 1 0 00-1.414-1.414l1.414 1.414zm-7.414 2l2 2 1.414-1.414-2-2-1.414 1.414zm3.414 2l4-4-1.414-1.414-4 4 1.414 1.414z'/></svg>");

		}
	}
}
.toggle-checkbox {
	position: absolute;
	visibility: hidden;
}
.toggle-label {
	margin-left: 5px;
	position: relative;
	top: 2px;
}
.box-toggle{
  margin-top: 2rem;
   display: flex;
    align-items: center;
    justify-content: space-between;
}
.toggle-text{
    
}
.toggle-text h3{ 
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-accent);
    margin-bottom: 0.4rem;
}
.toggle-text p{
    font-size: 1.4rem;
}
.select-label{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-accent);
}
.box-select{
    display:grid;
    gap: 1rem;
}
.control-pause{
    width: 100%;
}
.box-stats{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    justify-content: space-between;
}
.stats-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1e2939;
    border-radius: 0.4rem;
    padding: 1rem;
    box-shadow: 0 0 0 1px #ffffff1a;
}
.stats-item h3{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-accent);
    margin-bottom: 0.4rem;
}
.stats-item p{
    font-size: 1.4rem;
}
.stats-item p{
    font-size: 1.4rem;
}
.stats-item p{
    font-size: 1.4rem;
}

.box-stacked{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}
.stacked-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ffffff1a;
  background-color: #1e2939;
}
.stacked-item h3{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-accent);
    margin-bottom: 0.4rem;
}
.stacked-item p{
    font-size: 1.4rem;
}
.info-row{
   
}
.info-label{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-accent);
}
.info-value{
    font-size: 1.4rem;
}
.info-value p{
    font-size: 1.4rem;
}
.info-row time{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row-active-warning{
    background-color: var(--bg-accent-warning);
    border-left: 4px solid var(--bg-warning);
}
.date-range{
    display: flex;
    align-items: center;
}
.btn{
    border-radius: 0.4rem;
    padding: 0 1rem;
    transition: var(--transition);
    cursor: pointer;
    height: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn-default{
    background-color: var(--bg-purple-secundary);
    color: var(--text-secundary);
    border: 1px solid var(--border-purple-secundary);
}
.btn-primary{
    background-color: var(--bg-accent-primary);
    color: var(--text-accent);
}
.btn-default:hover{
    background-color: var(--bg-accent-primary);
    color: var(--text-accent);
}
.btn-primary:active{
    
}
.date-range-item{
    margin: 0 0.5rem;
}
.loader.active {
    width: 1.6rem;
    height: 1.6rem;
    border: 2px solid #ffffff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

    .icon-filter.hidden {
        display: none;
    }